@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  font-family: sans-serif;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transition: transform 0.3s ease;
  margin: 0 10px; /* Add some space between icons */
}

.icon:hover {
  transform: translateY(-5px) scale(1.1);
}
